.backgroundPaper {
    background-image: url('/pictures/tile_paper_background.webp');
    background-repeat: repeat;
    background-size: 6em 6em;
    background-position: center top;
    background-attachment: fixed;
}